html {
  overflow: auto;
}

body {
  user-select: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(182, 189, 195, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(182, 189, 195, 0.3);
  background-color: rgba(#f5f5f5, 0.6);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 6px; */
  box-shadow: inset 0 0 6px rgba(182, 189, 195, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(182, 189, 195, 0.3);
  background-color: #555;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

#app {
}

/* Antd styles */

.ant-card-body {
  text-align: center;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
